{% extends 'base.html' %}

{% block title %}
About Us
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="text-center mb-5">

        <h1 class="text-danger fw-bold">
            About Blood Donor Finder
        </h1>

        <p class="lead">
            Connecting Blood Donors with People in Need
        </p>

    </div>

    <div class="row">

        <div class="col-md-6">

            <img src="https://images.unsplash.com/photo-1615461066841-6116e61058f4?w=800"
                 class="img-fluid rounded shadow">

        </div>

        <div class="col-md-6">

            <h3>Our Mission</h3>

            <p>
                Blood Donor Finder is designed to help patients find blood donors quickly during emergencies.
            </p>

            <p>
                Our mission is to create a secure, fast and reliable platform where donors and recipients can connect easily.
            </p>

            <ul>

                <li>✔ Easy Donor Registration</li>

                <li>✔ Smart Blood Search</li>

                <li>✔ Emergency Blood Requests</li>

                <li>✔ Dashboard Analytics</li>

                <li>✔ PDF & Excel Reports</li>

            </ul>

        </div>

    </div>

</div>

{% endblock %}