{% extends 'base.html' %}

{% block title %}
Register Donor
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow">

            <div class="card-header bg-danger text-white text-center">

                <h3>Blood Donor Registration</h3>

            </div>

            <div class="card-body">

                <form method="POST">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-danger w-100">
                        Register Donor
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}